[user]
	name = Peter Job
	email = ptjob@icloud.com
[pull]
  	rebase = true
[rebase]
  	autoStash = true
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[oh-my-zsh]
	hide-dirty = 1
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = osxkeychain
