# shellcheck shell=bash

alias python="python3"
alias pip="pip3"

{{- if eq .chezmoi.hostname "Peters-MacBook-Pro" }}
# Change directory to parent of obsidian vaults
alias obsidian_dir="cd ~/Library/Mobile\ Documents/iCloud~md~obsidian/Documents"
{{- end }}

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias g=git

{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}
