if [ -d "${HOME}/.volta/bin" ]; then
  export VOLTA_HOME="${HOME}/.volta"
  export PATH="${VOLTA_HOME}/bin:${PATH}"
fi

if [ -d "${HOME}/go/bin" ]; then
  export PATH="${HOME}/go/bin:${PATH}"
fi

if [ -d "${HOME}/bin" ]; then
  export PATH="${HOME}/bin:${PATH}"
fi

if [ -d "${HOME}/.local/bin" ]; then
  export PATH="${HOME}/.local/bin:${PATH}"
fi

{{- if eq .osid "darwin" }}
# Homebrew environment: https://docs.brew.sh/Manpage#environment
# Brewfile used by `brew bundle <command> --global`, symlinked to chezmoi source directory
export HOMEBREW_BUNDLE_FILE_GLOBAL=${HOME}/.Brewfile
# Exclude VS Code extensions from Brewfile
export HOMEBREW_BUNDLE_DUMP_NO_VSCODE=1
{{- end }}
