# shellcheck shell=bash

alias python="python3"
alias pip="pip3"

{{- if eq .hostname "peters-macbook-pro" }}
# Change directory to parent of obsidian vaults
alias obsidian_dir="cd ~/Library/Mobile\ Documents/iCloud~md~obsidian/Documents"
{{- end }}

{{- if eq .hostname "peters-taggle-macbook-pro" }}
# Change directory to parent of obsidian vaults
alias obsidian_dir="cd ~/Library/Mobile\ Documents/iCloud~md~obsidian/Documents"
# Change directory to VS Code devcontainer configs repo
alias devcontainers_dir="cd ~/Library/Application\ Support/Code/User/globalStorage/ms-vscode-remote.remote-containers/configs"
{{- end }}

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias g=git

{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}

# Date in format YYYY-MM-DD-THH-MM-SS+ZZZZ, safe for filenames
alias dtlocal=date +"%Y-%m-%d-T%H-%M-%S%z"