{{/* Switch global Brewfile based on profile */}}
{{- if eq .osid "darwin" }}
{{-   if eq .profile "personal" }}
{{ .chezmoi.sourceDir }}/.Brewfile_personal
{{-   else if eq .profile "work" }}
{{ .chezmoi.sourceDir }}/.Brewfile_work
{{-   end }}
{{- end }}
